@model List<WebEdoc2017.Models.PatientDocumentModel>
@using System.Text
<style>
   

    .tr {
        text-align: center;
        text-wrap: normal;
    }
</style>
<input type="hidden" id="hdCategoryIDForDocument" value="@ViewBag.CategoryID" />
<div style="margin-right:0px;text-align:right;">

    <img src="~/Images/Loader.gif" id="MainLoader" style="display:none;width:100px;height:17px;" />   <a href="#" onclick="OpenSearchDialoge()"><img src="~/Images/Search.png" width="2%" height="6%" />Search</a> &nbsp;&nbsp;<a href="#" onclick="GetAllDocument();">Load All</a>&nbsp;&nbsp;&nbsp;<img src="~/Images/add.png" /><a href="#" onclick="AddDocument();">Add</a> </div>
<table width="100%">
    <thead class="th">
        <tr>
           
            <td>
                Name
            </td>
            <td>
                Description
            </td>
            <td>Title</td>
            <td>
                Electronic Link
            </td>
            <td>
                Path
            </td>
            <td>
                 Extension
            </td>
           
            <td>
                
            </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {

            int count=0;
            foreach (var item in Model)
            {
                StringBuilder jsonStringPatientDocument = new StringBuilder();
                jsonStringPatientDocument.Append(" { ");
                jsonStringPatientDocument.Append("\"PATIENT_DOCUMENT_ID\": \"" + @item.PATIENT_DOCUMENT_ID + "\",");
                jsonStringPatientDocument.Append("\"NAME\": \"" + @item.NAME + "\",");
                jsonStringPatientDocument.Append("\"DESCRIPTION\": \"" + @item.DESCRIPTION + "\",");
                jsonStringPatientDocument.Append("\"DOC_CATEGORY_ID\": \"" + @item.DOC_CATEGORY_ID + "\",");
                jsonStringPatientDocument.Append("\"ELECTRONIC_LINK\": \"" + @item.ELECTRONIC_LINK + "\",");
                jsonStringPatientDocument.Append("\"TITLE\": \"" + @item.TITLE + "\",");
                jsonStringPatientDocument.Append("\"PATH\": \"" + 0 + "\",");
                jsonStringPatientDocument.Append("\"EXTENSION\": \"" + @item.EXTENSION + "\",");
                jsonStringPatientDocument.Append("\"PATIENT_ID\": \"" + @item.PATIENT_ID + "\"");


                jsonStringPatientDocument.Append("}");
                count++;
                if(count%2==0)
                {
                <tr class="tr0">
                   
                    <td>@item.NAME</td>
                    <td>@item.DESCRIPTION</td>
                   <td>@item.TITLE</td>
                    @if (item.ELECTRONIC_LINK != null && item.ELECTRONIC_LINK !="")
                    { <td><a href="#" onclick="ViewElectronicFileLink('@item.ELECTRONIC_LINK')" >View & Download</a></td>
                    }
                    else
                    {  <td></td>
                    }
                    @if (item.PATH != null && item.PATH != "")
                    {<td> <a href="@Url.Action("DownLoadPatientUploadDocument", "Home", new { PatientDocumentID = item.PATIENT_DOCUMENT_ID })">DownLoad</a></td>
                    }
                    else
                    { <td></td>}
                    <td>@item.EXTENSION</td>
                    <td><a href="#" onclick="setDateToPatientDocument('@item.PATIENT_DOCUMENT_ID')"><img src="~/Images/edit.png" width="15px" />Edit</a><input type="hidden" id="hdPatientDocument-@item.PATIENT_DOCUMENT_ID" value="@jsonStringPatientDocument.ToString()" /></td>
                    <td><a href="#" onclick="DeletePatientDocument('@item.PATIENT_DOCUMENT_ID','@item.DOC_CATEGORY_ID');"><img src="~/Images/delete.png" width="15px" />Delete</a></td>
                </tr>
                }
                else
                {
                    <tr class="tr1">
                      
                        <td>@item.NAME</td>
                        <td>@item.DESCRIPTION</td>
                        <td>@item.TITLE</td>
@if (item.ELECTRONIC_LINK != null && item.ELECTRONIC_LINK != "")
{
                        <td><a href="#"  onclick="ViewElectronicFileLink('@item.ELECTRONIC_LINK')" class="ElectronicLine">View & Download</a></td>
}
else
{
    <td></td>
}
                        @if (item.PATH != null && item.PATH != "")
                        {
                        <td> <a href="@Url.Action("DownLoadPatientUploadDocument", "Home", new { PatientDocumentID = item.PATIENT_DOCUMENT_ID })">DownLoad</a></td>
                        }
                        else
                        {
                        <td></td>}
                        <td>@item.EXTENSION</td>
                        <td><a href="#" onclick="setDateToPatientDocument('@item.PATIENT_DOCUMENT_ID');"><img src="~/Images/edit.png" width="15px"  />Edit</a><input type="hidden" id="hdPatientDocument-@item.PATIENT_DOCUMENT_ID" value="@jsonStringPatientDocument.ToString()" /></td>
                        <td><a href="#" onclick="DeletePatientDocument('@item.PATIENT_DOCUMENT_ID','@item.DOC_CATEGORY_ID');"><img src="~/Images/delete.png" width="15px" />Delete</a></td>
                    </tr>
                }
            }
        }
        else
        {
            <tr><td colspan="8" align="center">No Document Found</td></tr>
        }
    </tbody>

</table>