@model WebEdoc2017.ViewModels.HomeViewModel
@using System.Data; 
@{
    ViewBag.Title = "PHIC";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.11.2.min.js"></script>

<div>
    <input id="hdPatientLogId" type="hidden" value="@ViewBag.PatientLogID" />
    <input id="hdLoginType" type="hidden" value="@ViewBag.LogInType" />
    <input type="hidden" id="hdVisitKey" value="@ViewBag.Visit_Key"/>
    <input id="hdPhysicianID" type="hidden" value="@ViewBag.PhysicianID"/>

    
    <div style="clear:both;">
       
        <div id="" class="treeview" style="width:30%;overflow-x:scroll; height:700px;float:left;margin-top:0px; ">

          <br />
          
           <table width="100%">
               <thead>
                  
                   <tr><th class="th" style="text-align:center;font-weight:normal;" >Category</th></tr>
               </thead>
               <tbody>
                   <tr>
                       <td>
                           <div id="divTreeView">
                               @Html.Partial("_treeViewPartial", Model.lstDocumentCategory)
                           </div>
                       </td>
                   </tr>

               </tbody>
           </table>
           
        </div>
    
        <div id="PatientDocumentContent" style="width:70%;float:right;margin-top:0px; ">
            @Html.Partial("_patientDocumentPartial", Model.lstPatientDocument)
        </div>

        <div id="AddEditCategory">
            <input type="hidden" id="actionType" value="" />
            <input type="hidden" id="_MenuID" value="" />
            <input type="hidden" id="_ParentID" value="" />
            <table width="100%">
                <tr>
                    <td>Name:</td>
                    <td><input id="txtCategoryName" placeholder="Enter Name" value="" class="form-control" /></td>
                    

                </tr>
                <tr>
                    <td valign="top">Description:</td>
                    <td>
                    <textarea class="form-control"  id="txtCategoryDesc" rows="3" cols="3" placeholder="Enter Description" maxlength="250" value="">
                    </textarea>
                   </td>
                   
                </tr>
                <tr>
                    
                    <td colspan="2"><img src="../../../../Images/Loader.gif" style="width:45%;height:17%;display:none;" id="AddEditCategoryLoader" /></td>
                </tr>

            </table>


        </div>
        <div id="DeleteCategoryConfirmation">
            Are you sure to want delete this category?
            <img src="../../../../Images/Loader.gif" style="width:45%;height:45%; display:none;" id="DeleteCategoryConfirmationLoader" />

        </div>
        <div id="DeleteDocumentConfirmation" >
            Are you sure to want delete this Document?
            <img src="../../../../Images/Loader.gif" style="width:45%;height:45%; display:none;" id="DeleteDocumentConfirmationLoader" />

        </div>
        <div id="ErrorModelPop">
           <div id="Error"
                ></div>

        </div>
        <div id="AddEditDocument">
            <table width="100%"  >
                <tr>
                    <tr>
                        <td><input type="hidden" id="hdPatientDocumentID" value="0"/></td>
                    </tr>
                <tr>
                    <td valign="top">Title:</td>
                    <td valign="top">  <input type="text" class="form-control" id="txtTitle" /></td>
                    <td valign="top">
                        Name:
                    </td>
                    <td valign="top"><input id="txtDocumentName" type="text" class="form-control" required /></td>
                </tr>
                <tr>
                    <td valign="top">Category:</td>
                    <td valign="top"> <div id="divCategory">@Html.Partial("DropDownList/_ddlDocumentCategory", Model.lstDocumentCategory)  </div></td>
                    <td valign="top">Attachement:</td>
                    <td valign="top"> <select id="ddlAttachementType" class="form-control" onchange="TypeOfDocument()"><option value="0">--Select--</option><option value="1">Electronic Link</option><option value="2">File Upload</option></select>@* *@</td>
                </tr>
                <tr>
                    <td valign="top">
                        E-Link:
                    </td>
                    <td valign="top">
                        <input disabled id="txtDocumentElectronicLink" type="text" class="form-control" />
                    </td>
                    <td valign="top">File:</td>
                    <td valign="top"><input disabled type="file" class="form-control" id="DocumentFile" name="DocumentFile" /></td>
                  
                </tr>
             
                <tr>
                  
                    <td valign="top">Description:</td>
                    <td colspan="3" valign="top"><textarea  placeholder="Maximum Length 2000" maxlength="2000"  rows="3" cols="3" ty id="txtDocumentDesc"  class="form-control textarea" ></textarea></td>

                </tr>
                <tr>
                    <td></td>
                    <td ><img src="../../../../Images/Loader.gif" style="width:40%;height:15%; display:none;" id="AddEditDocumentLoader" /></td>

                </tr>
               
                
            </table>
        </div>
        <div id="SearchDialog" >
          <table width="100%" >
               <tr>
                    <td valign="top">Title:</td>
                    <td valign="top">  <input type="text" class="form-control" id="Title" /></td>
                    <td valign="top">
                        Name:
                    </td>
                    <td valign="top"><input id="DocumentName" type="text" class="form-control" required /></td>
                </tr>
                <tr>
                    <td valign="top">Category:</td>
                    <td valign="top">@Html.DropDownListFor(Model => Model.lstDocumentCategory, new SelectList(Model.lstDocumentCategory, "DOC_CATEGORY_ID","Name"),new { @id="ddlSearchCategory",@class="form-control"}) </td>
                  
                   
                </tr>
              <tr>
                  <td valign="top">
                      Description:
                  </td>
                  <td colspan="3" valign="top"><textarea placeholder="Maximum Length 2000" maxlength="2000" rows="3" cols="3" id="SearchDescription" type="text" class="form-control textarea" ></textarea></td>
              </tr>
              <tr>
                  <td></td>
                  <td align="left"><img src="../../../../Images/Loader.gif" style="width:40%;height:20%; display:none;" id="SearchDialogLoader" /></td>
              </tr>
               
                <tr></tr>
            </table>
         

        </div>

    </div>
</div>

<script>
    function GetPatientDocument(MenuID, ParentID) {
        $("#hdCategoryIDForDocument").val(MenuID);
        var LoginType = $("#hdLoginType").val();
        $("#ddlCategory").val("0");
    var Patient_ID = $("#hdPatientLogId").val();
    var par = {
        'MenuID': MenuID,
        'ParentID': ParentID,
        'Patient_ID': Patient_ID,
        'LoginType': LoginType
    };
    var URL = '@Url.Action("getPatientDocumentByCategoryID", "Home")';
        $("#MainLoader").show();
    $.ajax({
        url: URL,
        type: "POST",
        data: par,
        success: function (response, textStatus, jqXHR) {
            $("#PatientDocumentContent").html("");
            $("#PatientDocumentContent").html(response);
            $("#MainLoader").hide();
            var LoginType = $("#hdLoginType").val();
            if (LoginType == "Doctor") {
                $("#ddlCategory").val(MenuID).prop("disabled", true);
            }
      },
        error: function (jqXHR, textStatus, errorThrown) {
            alert("error");
        },
        // callback handler that will be called on completion
        // which means, either on success or error
        complete: function () {
        }
    });
}

    function DeleteCategory() {
        var CategoryID = $("#_MenuID").val();
        var URL = '@Url.Action("DeleteDocumentCategoryByCategoryID", "Home")';
        var parameter = {
            'CategroyID': CategoryID,
        };
        $("#DeleteCategoryConfirmationLoader").show();
        $.post(URL, parameter, function (data, status, xhr) {
            if (data != null) {
                if (data.IsValid == false) {
                    //ErrorDialoge("This category has some document. Please delete document and then delete this category");
                    alert("This category has some document. Please delete document and then delete this category");
                   $("#DeleteCategoryConfirmation").dialog("close")
                    $("#DeleteCategoryConfirmationLoader").hide();
                }
                else {
                    $("#divTreeView").html("");
                    $("#divTreeView").html(data.HTML);
                    $("#divCategory").html("");
                    $("#divCategory").html(data.ddlDocumentCategory);
                    $("#DeleteCategoryConfirmationLoader").hide();
                    $("#DeleteCategoryConfirmation").dialog("close")
                }

            }
        });
    }

    function AddPatientDocument() {

        var ddlType = $("#ddlAttachementType").val();
        var LoginType = $("#hdLoginType").val();
        var Title = $("#txtTitle").val();
        var PatientDocumentID = $("#hdPatientDocumentID").val();
        var NAME = $("#txtDocumentName").val();
        var DESCRIPTION = $("#txtDocumentDesc").val();
        var DOC_CATEGORY_ID = $("#ddlCategory").val();/// hidden field
        var ELECTRONIC_LINK = $("#txtDocumentElectronicLink").val();
        var Patient_ID = $("#hdPatientLogId").val();
        var VisitKey = $("#hdVisitKey").val();
        var PhysicianID = $("#hdPhysicianID").val();

        var form_data = new FormData();
        var totalFiles = document.getElementById("DocumentFile").files.length;
        if (Title == null || Title == "") {
            alert("Please enter Title");
            $("#txtTitle").focus();
            return;
        }
        if (NAME == null || NAME == "") {
            $("#txtDocumentName").focus();
            alert("Please enter NAME");
            return;
        }

        if (ddlType == 0) {
            $("#ddlAttachementType").focus();
            alert("Please select Attachement.");
            return;
        }
        if (ddlType == 1)
        {
            if (ELECTRONIC_LINK == null || ELECTRONIC_LINK == "") {
                $("#txtDocumentElectronicLink").focus();
                alert("Please enter Electronic link.");
                return;
            }
        }
        else {
            if(PatientDocumentID==0) if(totalFiles ==0)
            {
                $("#DocumentFile").focus();
                alert("Please select file to upload.");
                return;
            }
        }
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("DocumentFile").files[i];
            form_data.append("FileUpload", file);
        }
        form_data.append('NAME', NAME);
        form_data.append('DESCRIPTION', DESCRIPTION);
        form_data.append('DOC_CATEGORY_ID', DOC_CATEGORY_ID);
        form_data.append('ELECTRONIC_LINK', ELECTRONIC_LINK);
        form_data.append('TITLE', Title);
        form_data.append('MenuID', DOC_CATEGORY_ID);
        form_data.append('PATIENT_ID', Patient_ID);
        form_data.append('LoginType', LoginType);
        form_data.append('PATIENT_DOCUMENT_ID', PatientDocumentID);
        form_data.append('VisitKey', VisitKey);
        form_data.append('PhysicianID', PhysicianID);
        if (PatientDocumentID == 0) {
            $("#AddEditDocumentLoader").show();
            var URL = '@Url.Action("AddPatientDocument", "Home")';
            $.ajax({
                url: URL,
                type: "POST",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response, textStatus, jqXHR) {

                    $("#PatientDocumentContent").html("");
                    $("#PatientDocumentContent").html(response);
                    $("#AddEditDocument").dialog("close")
                    $("#AddEditDocumentLoader").hide();
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //alert("error");
                },
                // callback handler that will be called on completion
                // which means, either on success or error
                complete: function () {
                }
            });
        }
        else {
            $("#AddEditDocumentLoader").show();
            var URL = '@Url.Action("UpdatePatientDocument", "Home")';
            $.ajax({
                url: URL,
                type: "POST",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response, textStatus, jqXHR) {

                    $("#PatientDocumentContent").html("");
                    $("#PatientDocumentContent").html(response);
                    $("#AddEditDocument").dialog("close");
                    $("#AddEditDocumentLoader").hide();
                    $("#ddlCategory").val("0");
                    ClearAll();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //alert("error");
                },
                // callback handler that will be called on completion
                // which means, either on success or error
                complete: function () {
                }
            });
        }
    }

    function DeleteDocument()
    {
        var PatientDocumentID = $("#hdPatientDocumentID").val();
        var CategoryID = $("#hdCategoryIDForDocument").val();
        var Patient_ID = $("#hdPatientLogId").val();
        var LoginType = $("#hdLoginType").val();
        var hdCategoryID = $("#hdCategoryIDForDocument").val();
        var VisitKey = $("#hdVisitKey").val();
        var PhysicianID = $("#hdPhysicianID").val();
        var parameter = {
            'PatientDocumentID': PatientDocumentID,
            'CategoryID': CategoryID,
            'Patient_ID': Patient_ID,
            'LoginType': LoginType,
            'SelectedCategoryID': hdCategoryID,
            'VisitKey': VisitKey,
            'PhysicianID': PhysicianID

        };
        $("#DeleteDocumentConfirmationLoader").show();
        var URL = '@Url.Action("DeletePatientDocument", "Home")';
        $.post(URL, parameter, function (data, status, xhr) {
            if (data != null) {
                $("#PatientDocumentContent").html("");
                $("#PatientDocumentContent").html(data);
                $("#DeleteDocumentConfirmation").dialog("close");
                $("#DeleteDocumentConfirmationLoader").hide();
                ClearAll();
            }
        });
   }

    function SaveCategory() {
        var _MenuID = $("#_MenuID").val();
        var _ParentID = $("#_ParentID").val();
        var actionType = $("#actionType").val();
        var CategoryName = $("#txtCategoryName").val();
        var CategoryDesc = $("#txtCategoryDesc").val();
        if (CategoryName == null || CategoryName == "")
        {
            alert("Please enter Name.");
            $("#txtCategoryName").focus();
            return;
        }
        var parameter = {
            '_MenuID': _MenuID,
            '_ParentID': _ParentID,
            'actionType': actionType,
            'CategoryName': CategoryName,
            'CategoryDesc': CategoryDesc
        };
        var URL = '@Url.Action("SaveCategory", "Home")';
        $("#AddEditCategoryLoader").show();
        $.post(URL, parameter, function (data, status, xhr) {
            if (data != null) {
                $("#divTreeView").html("");
                $("#divTreeView").html(data.treeView);
                $("#divCategory").html("");
                $("#divCategory").html(data.ddlCategory);
                $("#txtCategoryName").val("");
                $("#txtCategoryDesc").val("");
                $("#AddEditCategoryLoader").hide();
                $("#AddEditCategory").dialog("close")
            }
        });
    }
    function SearchDocument()
    {
        var Title = $("#Title").val();
        var Name = $("#DocumentName").val();
        var CategoryID = $("#ddlSearchCategory").val();
        var PatientID = $("#hdPatientLogId").val();
        var Description = $("#SearchDescription").val();
        var Parameter = {
            'TITLE': Title,
            'NAME': Name,
            'DOC_CATEGORY_ID': CategoryID,
            'PATIENT_ID': PatientID,
            'DESCRIPTION': Description
       };
        $("#SearchDialogLoader").show();
        var URL = '@Url.Action("SearchPatientDocument", "Home")';
        $.post(URL, Parameter, function (data) {
            $("#PatientDocumentContent").html("");
            $("#PatientDocumentContent").html(data);
            $("#SearchDialog").dialog("close");
            $("#SearchDialogLoader").hide();
        });
    }


    function GetAllDocument()
    {
        var PatientID = $("#hdPatientLogId").val();
        var Parameter = {
       
            'PATIENT_ID': PatientID,
           
        };
        $("#MainLoader").show();
        var URL = '@Url.Action("SearchPatientDocument", "Home")';
        $.post(URL, Parameter, function (data) {
            $("#PatientDocumentContent").html("");
            $("#PatientDocumentContent").html(data);
            $("#SearchDialog").dialog("close");
            $("#MainLoader").hide();
        });
    }
    var LoginType = $("#hdLoginType").val();
    if(LoginType=="Doctor")
    {
        $("#divTreeView").show();
    }
    else  {
        $("#divTreeView").find("span").removeClass("selector");
    }
    $("#ddlSearchCategory").prepend("<option value='0' selected='selected'>-Select-</option>");
</script>